<html>

    <head>
        <script src="/libraries/jquery.js"></script>
        <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
        <link rel="stylesheet" href="/css/aboutUs.css">
        <link rel="stylesheet" href="/libraries/animate.css">

        <title>Chess Game</title>
    </head>

    <body>

        <div class="navbar">
            
            <img src="/img/logo.png" width="40" height="40">
            <span class="logoname">chess</span>
            <div class= "nav">

                {{!-- <a class="nav-a hvr-grow" href="">{{username}}</a> --}}
                <a class="nav-a hvr-grow" href="/profile">{{username}}</a>
                <a class="nav-a hvr-grow active" href="/">About Us</a>
                <a class="nav-a hvr-grow" href="/rooms">Rooms</a>
                <a class="nav-a hvr-grow" href="play">Play</a>
            </div>
        </div>

{{!-- <h1 class="welcome-msg">About Us</h1> --}}

        <div class="sources">
            <div class="header"><span class="label">Packages Used</span></div>
            <div class="package-list">
                <li><a class="links" href="https://www.npmjs.com/package/body-parser">Body Parser</a></li>
                <li><a class="links" href="https://www.npmjs.com/package/cookie-parser">Cookie Parser</a></li>
                
                
                <li><a class="links" href="https://www.npmjs.com/package/crypto-random-string">Crypto Random String</a></li>
                
                
                <li><a class="links" href="https://www.npmjs.com/package/express">Express</a></li>
                
                <li><a class="links" href="https://www.npmjs.com/package/express-session">Express Session</a></li>
                
                
                <li><a class="links" href="https://www.npmjs.com/package/hbs">HBS</a></li>
                
                
                <li><a class="links" href="https://www.npmjs.com/package/js-sha256">JS-Sha256</a></li>
                
                
                <li><a class="links" href="https://www.npmjs.com/package/mongoose">Mongoose</a></li>
                
                
                <li><a class="links" href="https://www.npmjs.com/package/socket.io">Socket.io</a></li>
                
            </div>
        </div>


    </body>

</html>