<html>

    <head>
        <script src="/libraries/jquery.js"></script>
        <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/libraries/animate.css">

        <title>Chess Game</title>
    </head>

    <body>

        <div class="navbar">
            
            <img src="/img/logo.png" width="40" height="40">
            <span class="logoname">chess</span>
            <div class= "nav">

                {{!-- <a class="nav-a hvr-grow" href="">{{username}}</a> --}}
                <a class="nav-a hvr-grow" href="/profile">{{username}}</a>
                <a class="nav-a hvr-grow" href="/rooms">Rooms</a>
                <a class="nav-a active hvr-grow" href="/">Home</a>
                <a class="nav-a hvr-grow" href="play">Play</a>
            </div>
        </div>


        <h1 class="welcome-msg">Welcome {{username}}!</h1>

        <div class="main">
            <div class="activities">
                <div class="header"><span class="label">Activities</span></div>
            </div>

            <div class="follow">
                <div class="header"><span class="label">Follow Players</span></div>
                <div class="players"></div>
            </div>
        </div>

    </body>

</html>