<html>

    <head>
        <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/libraries/animate.css">
        <script src="/libraries/jquery.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".loginbtn").click(function() {
                    console.log("hello")
                    let username = $("#inputUsername").val()
                    let password = $("#inputPassword").val()
                    $.ajax({
                        url: "login",
                        type: 'POST',
                        data: {
                            username: username,
                            password: password
                        },
                        success: function(result, status, jqxhr){
                            console.log(jqxhr.getResponseHeader("Content-Type"))
                            if(jqxhr.getResponseHeader("Content-Type") == "text/plain; charset=utf-8"){
                                console.log("TESTING")
                                $("span.error").text(result)
                            } else {
                                window.location.href = "/"
                            }
                        }
                    })
                })
            })
        </script>
        <title>Chess Game</title>
    </head>

    <body>
        <form id="loginForm"class="loginform animated fadeIn" autocomplete="off" action="/user/login" method="POST">
            <div class="logo"><img src="/img/logo.png" height="70" width="70"></div>
            <input id="inputUsername" class= "inputbox" type="text" placeholder="username" name = "username">
            <br>
            <input id="inputPassword" class= "inputbox" type="password" placeholder="password" name = "password">
            <br>
            <span class="error"></span>
            <br>
            <input class="loginbtn" type="button" value="Log In">
            <br>
            <a href="" class="signup">Go back</a>

        </form>
        
    </body>

    <!-- <script src="../chessLogin.js"></script> -->

</html>