<html>

    <head>
        <script src="../libraries/jquery.js"></script>
        <link rel="shortcut icon" type="image/png" href="../img/pagelogo.png">
        <link rel="stylesheet" href="../css/play.css">
        <link rel="stylesheet" href="../libraries/animate.css">

        <title>Chess Game</title>
    </head>

    <body>

        <div class="navbar animated fadeIn">
            
            <img src="../img/logo.png" width="40" height="40">
            <span class="logoname">chess</span>
            <div class= " nav animated fadeIn">

                <a class="nav-a hvr-grow" href="">Profile</a>
                <a class="nav-a hvr-grow" href="">Friends</a>
                <a class="nav-a hvr-grow" href="/">Home</a>
                <a class="nav-a hvr-grow active" href="play">Play</a>

            </div>
        </div>
        
        <div class="mainpage">
            <div class="header animated fadeIn"><span class="header">Play Chess Now!</span></div>

            <div class="game-modes animated fadeIn">
                <div class="mode-div">
                    <div class="mode-img"><img src="../img/chess-bot.png" width="151" height= "160"></div>    
                    <a class= "gamemode-label hvr-grow" href="">Human Vs. Bot</a>
                    <p class= "mode-description">Play against a computer generated bot and you can practice and improve you skills here!</p>
                </div>

                <div class="mode-div">
                    <div class="mode-img"><img src="../img/chess-online.png" width="151" height= "160"></div>    
                    <a class= "gamemode-label hvr-grow" href=""> Play Chess Online</a>
                    <p class= "mode-description">Invite a friend and play against each other online!</p>
                </div>

                <div class="mode-div">
                    <div class="mode-img"><img src="../img/offline-chess.png" width="151" height= "160"></div>    
                    <a class= "gamemode-label hvr-grow" href="">Play Chess Offline</a>
                    <p class= "mode-description">You can play against another player using the same device and enjoy playing offline!</p>
                </div>

                <div class="mode-div">
                    <div class="mode-img"><img src="../img/chess-puzzle.png" width="151" height= "160"></div>    
                    <a class= "gamemode-label hvr-grow" href="">Puzzle</a>
                    <p class= "mode-description">No one to play with? No problem! Solve chess puzzles here!</p>
                </div>
            </div>

        </div>

    </body>

</html>