<html>

<head>
    <script src="../libraries/jquery.js"></script>
    <link rel="shortcut icon" type="image/png" href="../img/pagelogo.png">
    <link rel="stylesheet" href="../css/play.css">
    <link rel="stylesheet" href="../libraries/animate.css">

    <title>Chess Game</title>
</head>

<body>

    <div class="navbar">

        <img src="../img/logo.png" width="40" height="40">
        <span class="logoname">chess</span>
        <div class=" nav">

            {{!-- <a class="nav-a hvr-grow" href="">{{username}}</a> --}}
            <a class="nav-a hvr-grow" href="/profile">{{username}}</a>
            <a class="nav-a hvr-grow" href="/">About Us</a>
            <a class="nav-a hvr-grow" href="/rooms">Rooms</a>
            <a class="nav-a active hvr-grow" href="/play">Play</a>

        </div>
    </div>

    <div class="mainpage">
        <div class="game-modes">
            <a href="/play/bot">
                <div id="bot" class="mode-div hvr-grow">
                    <div class="mode-img"><img src="../img/chess-bot.png" width="151" height="160"></div>
                    <p class="gamemode-label">Human Vs. Bot</p>
                    <p class="mode-description">Play against a computer generated bot and you can practice and improve
                        you skills here!</p>
                </div>
            </a>
            <a href="/rooms">
                <div id="online" class="mode-div hvr-grow">
                    <div class="mode-img"><img src="../img/chess-online.png" width="151" height="160"></div>
                    <p class="gamemode-label"> Play Chess Online</p>
                    <p class="mode-description">Invite a friend and play against each other online!</p>
                </div>
            </a>
            <a href="/play/offline">
                <div id="offline" class="mode-div hvr-grow">
                    <div class="mode-img"><img src="../img/offline-chess.png" width="151" height="160"></div>
                    <p class="gamemode-label">Play Chess Offline</p>
                    <p class="mode-description">You can play against another player using the same device and enjoy
                        playing
                        offline!</p>
                </div>
            </a>
            <a href="/play/puzzle">
                <div id="puzzle" class="mode-div hvr-grow">
                    <div class="mode-img"><img src="../img/chess-puzzle.png" width="151" height="160"></div>
                    <p class="gamemode-label">Puzzle</p>
                    <p class="mode-description">No one to play with? No problem! Solve chess puzzles here!</p>
                </div>
            </a>
        </div>
    </div>

</body>

</html>