<html>

    <head>
        <script src="/libraries/jquery.js"></script>
        <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
        <link rel="stylesheet" href="/css/puzzle-mode.css">
        <link rel="stylesheet" href="/libraries/animate.css">
        <link rel="stylesheet" href="/libraries/chessboard-1.0.0.min.css">

        <title>Chess Game</title>
    </head>

    <body>

        <div class="navbar">
            
            <a class="logo" href="/">
                <img src="/img/logo.png" width="40" height="40">
                <span class="logoname">chess</span>
            </a>
            <div class= "nav">

                <a class="nav-a hvr-grow" href="/profile">{{username}}</a>
                <a class="nav-a hvr-grow" href="/about">About Us</a>
                <a class="nav-a hvr-grow" href="/rooms">Rooms</a>
                <a class="nav-a active hvr-grow" href="/play">Play</a>
            </div>
        </div>
        

        <div class="mainpage">

            <div id="puzzlechessboard" class="chessboard">CHESSBOARD</div>

            <div class="players">

                <div class="bot">
                    <img class="bot-img" src="/img/puzzle.png"></img>
                    <span class="bot-info">Puzzle</span>
                </div>

                <div class="tools">
                    <div id="btn-newgame" class="tool-btn">
                        <img src="/img/new-game.png" alt="" class="tool-img">
                        <span class="tool-lbl">New Game</span>
                    </div>

                    <div id="btn-exit" class="tool-btn">
                        <img src="/img/exit.png" alt="" class="tool-img">
                        <span class="tool-lbl">Exit Room</span>
                    </div>
                </div>
                

                <div class="my-profile">
                    <span class="movesleft my-info"></span>
                </div>
            </div>

        </div>
        <script>
            var fen = "{{fen}}"
            var moves = "{{moves}}"
        </script>
        <script src="/libraries/chessboard-1.0.0.min.js"></script>
        <script src="/libraries/chess.min.js"></script>
        <script src="/js/puzzle.js"></script>
        <script src="/js/gametool.js"></script>
    </body>
</html>