<html>

    <head>

        <script src="/libraries/jquery.js"></script>
        <link rel="shortcut icon" type="image/png" href="/img/pagelogo.png">
        <link rel="stylesheet" href="/css/rooms.css">
        <link rel="stylesheet" href="/libraries/animate.css">
        <link rel="stylesheet" href="/libraries/chessboard-1.0.0.min.css">

        <title>Chess Game</title>
    </head>

    <body>

        <div class="navbar">
            <img src="../img/logo.png" width="40" height="40">
            <span class="logoname">chess</span>
            <div class= " nav">

                <a class="nav-a hvr-grow" href="">{{username}}</a>
                <a class="nav-a active hvr-grow" href="">Rooms</a>
                <a class="nav-a hvr-grow" href="">Home</a>
                <a class="nav-a hvr-grow" href="">Play</a>
            </div>
        </div>

        <div class="mainpage">
            <div class="available">
                <div class="header"><span class="header-lbl">Available Rooms</span></div>

                <div class="room-divs">
                    <div class="room">
                        
                    </div>
                </div>
                

            </div>
            <div class="create-room">

                <div class="choose-mode">
                    <div class="header"><span class="header-lbl">Create New Room</span></div>

                    {{!-- nilagyan ko na ng anchor, derecho sya dun sa mode pages --}}
                   <a href="">
                        <div class="mode">Play Online</div>                    
                   </a>
                   
                   <a href="">
                        <div class="mode">Play Offline</div>                    
                   </a>

                   <a href="">
                        <div class="mode">Play Vs. Robot</div>                    
                   </a>

                   <a href="">
                        <div class="mode">Play Puzzle</div>                    
                   </a>

                </div>
                
            </div>
        </div>

    </body>

</html>