@font-face {
    font-family: poiret;
    src: url("/img/PoiretOne.ttf");
}

@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

body {
    align-items: center;
    justify-content: center;
    margin: 30px;
    background-color: #e7e1d4;
    background: linear-gradient(180deg, #58AC8A 57.1%, #6CBA84 80.13%, #A2E073 119.48%);
}

.border {
    position: absolute;
    align-items: center;
    justify-items: center;
    width: 95%;
    height: 89%;
}

h1, .logo {
    align-items: center;
    text-align: center;
    transform: translateY(70%);
}

h1 {
    font-family: poiret;
    color:white;
    font-size: 40pt;
    margin-top: 60px;
    margin-bottom: 35px;
}

.playbtn {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 80px;
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background: none;
    text-decoration: none;
    font-family: poiret;
    font-size: 11pt;
    outline: none;
    cursor: pointer;
}

.playbtn:hover {
    font-weight: bold;
    background-color: #1D704E;    
}

.gameplaydiv {
    text-align: center;
}

.gameplaybtn {
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    width: 80px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    background: none;
    text-decoration: none;
    font-family: poiret;
    font-size: 10pt;
}

.gameplaybtn:hover {
    font-weight: bold;
    background-color: #1D704E;
}

.chessboard {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
}
