@font-face {
    font-family: poiret;
    src: url("/img/PoiretOne.ttf");
    /* src: url("../resources/PoiretOne.ttf"); */
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

a {
    text-decoration: none;
    color: white;
    font-family: poiret;
}

  
body {
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #e7e1d4;
    background: linear-gradient(180deg, #58AC8A 57.1%, #6CBA84 80.13%, #A2E073 119.48%);
}


img.tool-img, img.logo {
    margin: 0;  
    padding-top: 15px;  
}


.logoname {
    font-family: poiret;
    font-size: 30pt;
    color: white;
    font-weight: bolder;
    margin: -1px;
    padding-top: 15px;
}

.navbar {
    display: flex;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.30) 0%, #58AC8A 120%);
    height: 80px;
    margin: 0 auto;
}

div.nav {
    position: absolute;
    width: 100%;
    height: 40px;
    font-family: poiret;
    font-size: 13pt;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.nav-a {

    font-style: none;
    list-style: none;
    text-decoration: none;
    padding: 30px 40px;
    color: white;
    font-weight: lighter;
    float: right;
    margin-right: 10px;

}

.nav-a:hover {
    background: #58AC8A;
}

.active {
    background-color: #58AC8A;
}

h1 {
    font-family: poiret;
    font-size: 15pt;
    color: white;
    font-weight: lighter;
    margin-left: 30px;
}

/* ----------------------------------------------- */

div.mainpage{
    display: flex;
    /* flex-direction: row; */
    width: 98%;
    height: 80%;
    margin: 10px;
    border-radius: 5px;
    align-content: center;
    justify-content: center;

    /* border: 1px solid red; */

}

div.chessboard {
    position: relative;
    width: 480px;
    height: 440px;
    margin: 10px;
}

div.players {
    display: block;
    width: 400px;
    height: 88%;
    margin: 10px;
    margin-top: 28px;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
}

div.player1 {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 20%;
    border-radius: 5px;
    margin: 5px;

    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.1);

}

.player1-info {
    font-family: poiret;
    font-size: 15pt;
    font-weight: bold;
    color: white;
    padding: 10px;
}

#rank {
    font-size: 13pt;
    padding-top: 3px;
    font-weight: lighter;
}


div.tools {
    display: flex;
    width: 97%;
    height: 55%;
    border-radius: 5px;
    margin: 5px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.tool-btn {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

.tool-btn:hover {
    background-color: #84cb7d;

}

img.tool-img {
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

span.tool-lbl {
    font-family: poiret;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    padding: 5px;
    padding-top: 10px;
}

div.my-profile {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 20%;
    border-radius: 5px;
    margin: 5px;
    align-content: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.my-info {
    font-family: poiret;
    font-size: 15pt;
    font-weight: bold;
    color: white;
    padding: 10px;
}