<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="../public/img/pagelogo.png">        
    </head>
    <body>
        Hi! <span>{{username}}!</span>
        <span>{{elo}}</span>
    </body>
</html>